<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid bg-body-light sticky-top">
      <a class="navbar-brand" href="/listings"><b>Stazy</b></a>
      <button class="navbar-toggler bg-body-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-body-light" id="navbarNavAltMarkup" style=" background-color:white; backdrop-filter: blur(1px);">
        <div class="navbar-nav">
          &nbsp; &nbsp; &nbsp;
          <a class="nav-link" href="/listing/new"><b><i>New Listing</i></b></a>
        </div>
      </div>
    </div>
  </nav>