<style>
  .btn-search {
    background-color: #101010;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    padding:0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #0a0a0a;
    color: grey;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;

  }
  .search-input{
    border-radius: 20px;
    padding:0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid bg-body-light sticky-top">
    <a class="navbar-brand" href="/listings"><b>Stazy</b></a>
    <button class="navbar-toggler bg-body-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-body-light" id="navbarNavAltMarkup"
      style=" background-color:white; backdrop-filter: blur(1px); border-radius: 10px; margin-top: 5px; padding-left: 10px;">
      <div class="navbar-nav ">
        &nbsp; &nbsp; &nbsp;
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" aria-label="Search" />
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto ">
        <a class="nav-link" href="/listings/new"><b>Add Your's </b></a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b><i>Sign up</i></b></a>
          <a class="nav-link" href="/login"><b><i>Log in</i></b></a>
          <%}%>
            <% if(currUser){ %>
              <a class="nav-link" href="/logout"><b><i>Log out</i></b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>